/* Explore.css */

.explore {
   position: absolute;
    width: 816px;
    height: 88px;
    
   background-color: rgb(249, 253, 253);
    flex-shrink: 0;
    border-radius: 8px;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    z-index: 1;
 
  
  }
  .dropdown-Guest{
    position: absolute;
    margin-top: 16px;
    margin-bottom: 16px;
    height:41px;
    width:81px;
    left:4px;

  }
  .dropdown-date{
    position: absolute;
    width: 164px;
    height: 41px;
    margin-top: 16px;
    margin-bottom: 16px;
    height:41px;
    width:81px;
    left:181px;
  }
  .dropdown-room{
    position: absolute;
    width: 169px;
    height: 41px;
    margin-top: 16px;
    margin-bottom: 16px;
    height:41px;
    width:81px;
    left:381px;
  
  }
  .dropdown-label{
    /* Headlines/Headline Bold Normal */
    color: var(--light-text-color-body-2, #9A9AB0);
/* Captions/Captions Regular */
            margin-top: 24px;
            margin-bottom: 8px;
        padding-left: 4px;
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 14.4px */
            letter-spacing: 0.096px;
  }
  .explore select{
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.08px;
    border: none;
    margin: 0%;
    padding: 0%;
  
  }
  .select-guest{
    width: 81px;
    height: 19px;
    top: 654px;
   Name: Headlines/Headline Bold Normal;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.005em;
 text-align: start;

    
   

  }
  .select-date{
    width: 164px;
    height: 19px;
    top: 654px;
   Name: Headlines/Headline Bold Normal;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.005em;
 text-align: start;
  }
  .select-Room{
    width: 145px;
    height: 19px;
    top: 654px;
    Name: Headlines/Headline Bold Normal;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.005em;
    text-align: start;
  


  }
  .booking-button2 {

position: absolute;
    color: white;
    display: inline-flex;
    height: 56px;
    padding: 18px 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    width: Hug (159px);
    width: 159px;
    left: 745px;
    padding: 18px 24px 18px 24px;
    border-radius: 8px;
    gap: 10px;
    background: var(--light-secondary-color-50, #C7923E);
     border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.booking-button2:hover {
    background-color:#C7923E;
}

  