.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: White;
    padding: 0rem;
    overflow: hidden;
    z-index: -1;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  
}

.hero-text {
    width: 608px;
    height: 222px;
    background-color: white;
    color: Black;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.hero-image {
    width: 624px;
    height: 900px;
    background-color: #909090;
    /* You can set the background image here */
}

@media (max-width: 768px) {
    .hero {
        padding: 1rem;
    }

    .hero-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 1rem;
    }

    .hero-image {
        width: 100%;
    }
}