.room-and-suites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: absolute;
    height: 723px;
    flex-shrink: 0;
    top: 2138px;
 
    
  }
  .ourroomandsuites_description{
    width: 504px;
height: 40px;
top: 2209px;
left: 104px;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.005em;
text-align: left;
color:#515151;

  }
.section-heading {
    position: absolute;
    width: 473px;
    height: 47px;
    left: 104px;
   display: flex;
    flex-direction: row;
    text-align: left;

  }
  .card1{
    width: 400px;
    height: 500px;
    top: 2305px;
    left: 104px;
    padding:16px 16px 16px ;

  }
  .card2{
    width: 400px;
height: 500px;
top: 2305px;
left: 104px;
padding:16px 16px 16px 16px ;

  }
  .card3{
    width: 400px;
   height: 500px;
top: 2305px;
left: 104px;
padding:16px 16px 16px 24px;

  }
  .card4{
    width: 400px;
height: 500px;
top: 2305px;
left: 104px;
padding:16px 16px 16px ;

  }
  .scroll-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    height: 600px; 
  
  }
  
  .scroll-buttonleft {
    width: 56px;
    height: 56px;
     border-radius: 8px;
    flex-shrink: 0;
    background-color: white;
   
    position: absolute;
     left:1040px;
     border-color: #C7923E;
     margin:8px
  
  }
  .scroll-buttonright{
    width: 56px;
    height: 56px;
     border-radius: 8px;
    flex-shrink: 0;
    background-color: white;
    border: 1px 1px;
    position: absolute;
    left:1104px;
     border-color: #C7923E;
     margin:8px
  }
 .scroll-buttonright svg{
   
        fill:  #C7923E; /* Default color */
        transition: fill 0.3s; /* Smooth transition on color change */
      
 }
 .scroll-buttonright:hover svg{
   
    fill:white;/* Default color */
    transition: fill 0.3s; /* Smooth transition on color change */
  
}
  .scroll-buttonright:hover {
    background: var(--light-secondary-color-50, #C7923E);
    border: none;
  }

  .scroll-buttonleft svg{
   
    fill:  #C7923E; /* Default color */
    transition: fill 0.3s; /* Smooth transition on color change */
  
}
.scroll-buttonleft:hover svg{

fill:white;/* Default color */
transition: fill 0.3s; /* Smooth transition on color change */

}
.scroll-buttonleft:hover {
background: var(--light-secondary-color-50, #C7923E);
border: none;
}
  .Room-image1{
    width: 368px;
    height: 369px;
    top: 2321px;
    left: 120px;
    
    background: var(--light-fills-color-image-placeholder, #909090);}
    .Room-image2{
     top: 2321px;
     left: 536px;
     width: 368px;
     height: 369px;
    
     flex-shrink: 0;
     background: var(--light-fills-color-image-placeholder, #909090);
    }
    .Room-image3{

        top: 2321px;
        left: 536px;
        width: 368px;
        height: 369px;
      flex-shrink: 0;
        background: var(--light-fills-color-image-placeholder, #909090);
       }
       .Room-image4{

        top: 2321px;
        left: 536px;
        width: 368px;
        height: 369px;
        flex-shrink: 0;
        background: var(--light-fills-color-image-placeholder, #909090);
       }
  
  .image-scroll-wrapper {
    position: absolute;
    overflow: hidden;
    width: 300px;
    width: 1350px;
    height: 420px;
    left: 104px;

  }
  
  .image-scroll-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
    height:556px;
    width:1000px;

  }
  
  .image-scroll-content img {
    width: 368px;
    height: 369px;
    top: 2321px;
    left: 104px;
    background: var(--light-fills-color-image-placeholder, #909090);
  }
  