.Today_info{
    position:absolute;

    width: 1232px;
    height: 280px;
    top: 1738px;
    align-items: center;
   display: flex;
   flex-direction: row;
}
.date_info{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 280px;
    padding: 70px;
    align-items: center;
  
 


}
.temp_info{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 280px;
    left: 416px;
    padding: 70px;
    align-items: center;
 

}
.time_info{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: 280px;
    padding:70px;
  left:832px;
  align-items: center;
}
.label_temp{
    color: var(--light-text-color-body-2, #9A9AB0);
    text-align: center;
    margin-top: 24px;

    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.072px;
}
.label_time{
    margin-top: 24px;
    color: var(--light-text-color-body-2, #9A9AB0);
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.072px;
}
.label_date{
    margin-top: 24px;
    color: var(--light-text-color-body-2, #9A9AB0);
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    letter-spacing: 0.072px;
}
.date-icon{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    background: var(--light-fills-color-icon, #9A9AB0);

}
.time-icon{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    background: var(--light-fills-color-icon, #9A9AB0);

}.temp-icon{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    background: var(--light-fills-color-icon, #9A9AB0);

}

.current_Date{

    margin-top: 24px;
    color: #000;
    text-align: center;

    /* Heading/H3 Bold */
    font-family: Lora;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 46.8px */
    letter-spacing: 0.195px;
}
.current_Time{
    margin-top: 24px;
    color: #000;
    text-align: center;

    /* Heading/H3 Bold */
    font-family: Lora;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 46.8px */
    letter-spacing: 0.195px;
}.current_Temp{
    margin-top: 24px;
    color: #000;
    text-align: center;

    /* Heading/H3 Bold */
    font-family: Lora;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 46.8px */
    letter-spacing: 0.195px;
}
